/* <system section="theme" selected="alpha2"> */
@import "/css/theme/alpha2/alpha2.css";
/* </system> */

/* <system section="background" selected="fff"> */
body{background:#fff;}
/* </system> */

/* SCSS向けテーマカラーの設定 */
/* カラーマップ */
/*
基本文字色 : #000
背景色 : #fff
濃いオレンジ :
うすいオレンジ
*/

/* 修飾パーツ一覧 */
/* 枠線：点線 */
.border-dash {
  border: dashed 1px #000;
}
/* 枠線：実践 */
.border-solid {
  border: solid 1px #000;
}
/* 枠線：角丸め */
.border-radius {
  border-radius: 4px;
}

/* 基本フォント変更 */
body{
    color:#303030;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

/* 全体配置 */
#container{
    width:100%;
    margin:0;
    background-color: #efefef;
}
#top-box {
    width:1200px;
    margin: auto;
    font-size: 15px;
}
#content{
    width:1200px;
    margin: auto;
    padding: 0;
}
/* （参考）横幅計算 */
/* wrapper_width =
    main_width + main_padding*2 + main_margin_right
    content_width =
    wrapper_width + box2_width + box2_padding*2
*/

/* タイトルとパンくずリストの間*/
#top-editarea{
    margin:0 0 20px 0;
}

/* 記事のパンくずリスト */
.breadcrumb {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

#wrapper{
    width: 840px;
    margin-right: 40px;
}
#main {
    width: 840px;
    background-color: #fff;
    border-radius: 4px;
    padding: 0;
}
#main-inner {
    padding: 20px 40px;
}
#box1{
  display: none;
}
#box2{
    width:320px;
    background-color: #fff;
    border-radius: 4px;
}

#box2-inner{
    padding: 20px;
}

/* ブログのタイトル画像を広げる */
#blog-title {
    background-image: url('http://img.f.hatena.ne.jp/images/fotolife/f/finenot/20171104/20171104131852.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;/* 中央寄せ */
    height: 200px;/* 表示したい画像の高さ */
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;/* 幅100%に */
    overflow-x: hidden;
}
#blog-title h1#title, #blog-title h1#title a {
    -webkit-text-shadow: 0 1px 2px #000;
    text-shadow: 0 1px 2px #000;
    color: #f9f9f9; /* タイトル名の文字の色 */
    margin: 0;
    text-align: center; /* タイトル名中央寄せ */
}
#blog-description {
    color: #f9f9f9;/* 説明文の文字色 */
    -webkit-text-shadow: 0 1px 2px #000;
    text-shadow: 0 1px 2px #000;
}

/* 記事一覧 */
/** */
.page-archive .archive-entry {
    border-bottom: 1px dotted #5f5f5f;
    padding-bottom: 10px;
}
/** 記事一覧の日付部分*/
.page-archive .archive-date {
}

/** サムネネイル画像 */
.page-archive .entry-thumb {
    border-radius: 4px;
    border: 1px solid #5f5f5f;
}
/* 記事一覧 ここまで */

/* サイドメニュー */

/** 検索窓 */
.search-form .search-module-input {
    width: 220px;
    height: 24px;
    background: none; /* -moz-linear-gradient(top,#eee 0,#eee 50%,#fff 100%); */
    padding: 3px 8px;
    margin: 0;
    margin-right: 6px;
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/** サイドメニュータイトル */
.hatena-module-title {
    position: relative;
    padding: 0.4em 0 0.4em 1.0em;
    margin-bottom: 25px;
    background: #ffd6a1;
    font-size: 15px;
    font-weight: bold;
}

.hatena-module-title a {
  font-size: 15px;
  font-weight: bold;
}

.hatena-module-title:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 20px;
    border: 15px solid transparent;
    border-top: 15px solid #ffd6a1;
    width: 0;
    height: 0;
}

/** 記事ごとのページのCSS */

/* 記事の基本の文字サイズ */
.entry-content p {
    font-size:16px;
}
.entry-content li {
    font-size:16px;
}

/* 記事日付 */
.entry-date {
    left: 0;
    position: relative;
    border: none;
}

.entry-date a{
    font-weight: bold;
    color: #858585;
}
/* 記事日付ここまで */

/* 目次 */
.entry-content ul.table-of-contents {
  margin: 0;
  padding: 10px 10px 0 2.0em;
}

.table-of-contents{
    display:none;
    border: solid 2px #5b8bd0; /*点線*/
    border-radius: 4px;
    background-color: #f5f5f5;
    font-size: 15px;
  }

.table-of-contents li {
      margin: 0;
      margin-bottom:10px;
      padding: 0;
  }

.table-of-contents ul li {
  margin: 0;
}

.show-area{
    cursor: pointer;
    color: #47a1e5
}
/* 目次ここまで */

/* 数式 */
.math_expression{
    padding: 10px 0.5em 10px 0.5em;
    border: 1px solid #909090;
    border-radius: 4px;
}

/* 引用 */
.entry blockquote {
    position: relative;
    padding: 40px 15px 8px 15px;
    font-style: italic;
    background: #efefef;
    color: #555;
}

.entry blockquote:before{
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 15px;
    vertical-align: middle;
    content: "\f10d";
    font-family: FontAwesome;
    color: #cfcfcf;
    font-size: 28px;
    line-height: 1;
}

.entry blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
}

.entry blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}
/* 引用ここまで*/

/* アフィリエイト */
/* カエレバ CSS カスタム*/
.kaerebalink-box {
  box-sizing:border-box;
  border: 1px solid #909090;
  border-radius: 4px;
  padding: 5px 0;
  text-align:left;
  zoom: 1;
  overflow: hidden;
}

.kaerebalink-box:after{
  clear:left;
}

.kaerebalink-image {
    float:left;
}

.kaerebalink-info{
    zoom: 1;
    overflow: hidden;
}

.kaerebalink-detail{
  margin-bottom: 10px;
}

.kaerebalink-detail p{
  font-size: 14px;
  margin:0;
  line-height: 20px;
}

.kaerebalink-link1 {
  text-align:left;
  zoom: 1;
  overflow: hidden;
}
/* amazon link*/
.shoplinkamazon {
  float:left;
  margin-right: 5px;
  margin-bottom: 5px;
}
.shoplinkamazon a {
   position: relative;
   display: block;
   height: 26px;
   width: 100px;
   text-decoration: none;
   background: #fdc689;
   color: #fff;
   font-size: 14px;
   line-height: 26px;
   text-align: center;
   border-radius: 3px;
   border: 1px solid #909090;
}

/* 楽天 link*/
.shoplinkrakuten {
  float:left;
}

.shoplinkrakuten a {
    position: relative;
    display: block;
    height: 26px;
    width: 100px;
    text-decoration: none;
    background: #ff2323;
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #909090;
}
/* アフィリエイト ここまで */

/* 見出しをふせんぽく　*/
.entry-content h3 {
    border-bottom: none;
}
h3 {
    padding: 0.2em 1em;
    margin-bottom: 1.5em;
    color: #232323;
    background: #fff8e8;
    border-left: 10px solid #ffc06e;
}
h4 {
    position: relative;
    width:70%;
    margin: 0 29% 1em 1%;
    padding-bottom:5px;
    color: #232323;
}
h4::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    margin: 0 auto;
    text-align: center;
    /*
    background-image: -webkit-linear-gradient(left, #ffc06e, #000 75%, rgba(255,192,110,0);
    background-image: linear-gradient(to right, #ffc06e, #000 75%, rgba(255,192,110,0));
    */
    background-image: -webkit-linear-gradient(left, #ffc06e 75%, rgba(255,192,110,0));
    background-image: linear-gradient(to right, #ffc06e 75%, rgba(255,192,110,0));
    background-position: center;
    background-repeat: no-repeat;
}
h5, h6, h7{
    border-right: solid 10px #fff;
    padding: 0.2em 1em;
    color: #232323;
    background: #e9e9e9;
}

/*****ここから会話のCSS*****/
.talk-wrap{
 display: block;
 clear: both;
 margin:0 auto 3px auto;
 }
.talk-wrap p{
 margin:0;
 }
 .left-icon{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 background: no-repeat;
 background-size: 100%;
 background-position: center;
 float:left;
 display:inline-block;
 box-shadow: 1px 1px 5px #aaa; /*左のアイコンの影の設定*/
 border: 2px solid #fff; /*左のアイコンの枠の設定*/
 margin-left: 5px;
 margin-bottom: 15px;
 }
 .talk-left{
 float:left;
 position: relative;
 left: 20px;
 width: 400px;
 background: #fff; /*左の会話の背景色*/
 border: 2px solid #666;
 border-radius: 10px;
 box-shadow: 1px 1px 5px #aaa; /*左の会話の影の設定*/
 padding: 10px 20px;
 margin-top: 5px;
 margin-bottom: 15px;
 }
.talk-left:before {
 content: "";
 display: inline-block;
 border: 10px solid transparent;
 border-right-color: #666;
 position: absolute;
 left: -20px;
 top: 25%;
 margin-top: -9px;
}
.talk-left:after {
 content: "";
 display: inline-block;
 border: 9px solid transparent;
 border-right-color: #fff;
 position: absolute;
 left: -16px;
 top: 25%;
 margin-top: -8px;
}
 .right-icon{
 float:right;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 -webkit-border-radius:50%;
 background: no-repeat;
 background-size: 100%;
 background-position: center;
 display:inline-block;
 box-shadow: 1px 1px 5px #aaa; /*右のアイコンの影の設定*/
 border: 2px solid #FFF; /*右のアイコンの枠の設定*/
 margin-right: 5px;
 margin-bottom: 15px;
 }
 .talk-right{
 float:right;
 position: relative;
 right: 20px;
 width: 400px;
 background: #fff; /*右の会話の背景色*/
 border: 2px solid #666;
 border-radius: 10px;
 box-shadow: 1px 1px 5px #aaa; /*右の会話の影*/
 padding: 10px 20px;
 margin-top: 5px;
 margin-bottom:15px;
 }
 .talk-right:before {
 content: "";
 display: inline-block;
 border: 10px solid transparent;
 border-left-color: #666;
 position: absolute;
 right: -20px;
 top: 25%;
 margin-top: -9px;
}
.talk-right:after {
 content: "";
 display: inline-block;
 border: 9px solid transparent;
 border-left-color: #fff;
 position: absolute;
 right: -16px;
 top: 25%;
 margin-top: -8px;
}
.talk-end{
 clear:both;
}
/*****レスポンシブ設定*****/
@media screen and (max-width: 480px){
 .left-icon{
 width: 40px;
 height: 40px;
 }
 .talk-left{
 width: 65%;
 }
 .right-icon{
 width: 40px;
 height: 40px;
 }
 .talk-right{
 width: 65%;
 }
 }
 @media screen and (max-width: 380px){
 .left-icon{
 width: 30px;
 height: 30px;
 }
 .talk-left{
 width: 65%;
 }
 .right-icon{
 width: 30px;
 height: 30px;
 }
 .talk-right{
 width: 65%;
 }
}
*シェアボタン*/
.share-3d{
    margin-bottom: 10px;
    text-align: center;
}
.share-3d-inner a {
    position: relative;
    display: inline-block;
    width: 18%;
    height: 40px;
    line-height: 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
.share-3d .small-text{
    font-size: 10px;
}
.share-3d .hatena-bookmark-button{
    background: #00A4DE;
    box-shadow: 0 3px #43638b;
}
.share-3d .twitter-button{
    background: #55ACEE;
    box-shadow: 0 3px #0092ca;
}
.share-3d .googleplus-button{
    background: #C53727;
    box-shadow: 0 3px #ad3a2d;
}
.share-3d .facebook-button{
    background: #405BA7;
    box-shadow: 0 3px #2c4373;
}
.share-3d .pocket-button{
    background: #EE4256;
    box-shadow: 0 3px 0 #c0392b;
}
.share-3d a:active{
    top: 3px;
    box-shadow: none;
}
.share-3d .hatena-bookmark-button:active{
    background: #43638b;
}
.share-3d .twitter-button:active{
    background: #0092ca;
}
.share-3d .googleplus-button:active{
    background: #ad3a2d;
}
.share-3d .facebook-button:active{
    background: #2c4373;
}
.share-3d .pocket-button:active{
    background: #c0392b;
}

/* フッタ */
/*上に戻る*/
#page-top {
  display:none;
  position:fixed;
  right:10px;
  bottom:20px;
  margin: 0;
  padding: 0;
  text-align:center;
}
#move-page-top{
  position: relative;
  right: -100px;
  color:rgba(0,0,0,0.4);
  text-decoration:none;
  display:block;
  cursor:pointer;
}
#move-page-top:hover{
  color:rgba(0,0,0,0.6);
}
@media only screen and (min-width: 400px){
  #page-top{
    right:50%;
    margin-right: -450px;
  }
